.site-footer {
  background-color: $grey;
  padding: 25px 0;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;

  .social-icons {
    position: initial;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $bp-l) {
      justify-content: flex-start;
    }
    
    .social-icons__icon {
      width: 32px;
      height: 32px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;

        @media (min-width: $bp-l) {
          margin-left: 10px;
        }
      }

      &:hover {
        svg {
          fill: $orange;
        }
      }
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  @media (min-width: $bp-l){
    flex-direction: row;
    position: initial;
  }
}

.footer-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $bp-s) {
    flex-direction: row;
  }

  @media (min-width: $bp-l) {
    justify-content: flex-start;
  }

  li {
    padding: 0 10px;
    margin: 0 0 10px 0;
    font-size: 16px;

    @media (min-width: $bp-s) {
      max-resolution: 0 0 0 0;
      border-right: 2px solid $color-text;
      font-size: 12px;
    }

    a{
      font-weight: $font-weight-bold;
      color: $color-text;
      border-bottom: 2px solid transparent;
      padding: 0 5px;

      &:hover {
        border-bottom-color: $orange;
      }
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0 none;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 16px;

  @media (min-width: $bp-s) {
    font-size: 12px;
  }
}