.site-header{
  padding-top:15px;
  border-bottom: 5px solid $yellow;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  @media (min-width: $bp-m) {
    padding-bottom: 15px;
  }

  .container {
    @media (min-width: $bp-l) {
      position:relative
    }
  }

  .social-icons {
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;

    @media (min-width: $bp-m) {
      display: flex;
    }

    @media (min-width: $bp-l) {
      top: 0px;
      right: 15px;
    }

    .social-icons__icon {
      width: 24px;
      height: 24px;
      margin-left: 10px;

      &:hover {
        svg {
          fill: $orange;
        }
      }
    }
  }
}

.menu-button {
  display: block;
  height: 40px;
  width: 40px;
  background-size:contain;
  background-repeat: no-repeat;
  cursor: pointer;

  &.menu-open {
    background-image: url('../../img/hamburger-menu.svg');
    position: absolute;
    top: 10px;
    left: 10px;

    @media (min-width: $bp-l) {
      display: none;
    }
  }

  &.menu-close {
    background-image: url('../../img/close-menu.svg');
  }
}


.site-title {
  margin-top: 0px;
  margin-bottom: 20px;

  .site-title__link {
    display: flex;
    justify-content: center;
    width:100%;

    img {
      display: block;
      height: 30px;

      @media (min-width: $bp-m) {
        height: initial;
      }
    }
  }
}

.header-channel-finder {
  display: none;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  position:fixed;
  width: 100%;
  z-index: 3;

  @media (min-width: $bp-m) {
    display: block;
  }

  &.active {
    transform: translateY(0%);
  }
}
