.site-navigation {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $bp-m) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $bp-l) {
    justify-content: space-between;
  }

  .menu-header-menu-container {
    display: none;

    @media (min-width: $bp-l) {
      display: block;
      position: relative;
      top: initial;
      right: initial;
      background: transparent;
      z-index: initial;
      transform: translateX(0);
      height: initial;
    }
  }

  #menu-header-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $bp-l) {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    li{
      margin: 0 10px;
      a {
        color: $color-text;
        border-bottom: 2px solid transparent;
        padding: 0 10px;

        &:hover {
          border-bottom-color: $orange;
        }
      }
    }
  }
}

.site-navigation__button {
  display:block;
  width:229px;
  background: linear-gradient(to bottom, $cream 0%, $cream 50%, $yellow-light 51%, $yellow-light 100%);
  color: $color-text;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  position: relative;
  cursor: pointer;

  &:hover {
   background: $yellow-light;
  }

  &.button-watch {
    margin-bottom: 25px;
    /* these 2 rules need to be removed once the livestream is added */
    opacity: 0 !important;
    pointer-events: none!important;
    /*  */

    @media (min-width: $bp-m) {
      margin-bottom: 0;
    }
  }

  &.button-watch:before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -10px;
    width: 40px;
    height: 40px;
    background-image: url('../../img/Orange_PlayButton_Header.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.8);

    @media (min-width: $bp-m) {
      transform: scale(1);
    }
  }

  // &.button-find:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: -13px;
  //   left: -17px;
  //   width: 30px;
  //   height: 30px;
  //   background-image: url('../../img/wifi.svg');
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   transform: scale(0.8);

  //   @media (min-width: $bp-m) {
  //     transform: scale(1);
  //   }

  //   @media (min-width: $bp-l) {
  //     top: -20px;
  //     left: -25px;
  //     width: 40px;
  //     height: 40px;
  //   }
  // }
}