* {
  box-sizing: border-box;
}

::selection {
  background: $blue-dark;
  color: $white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: $font-weight-regular;
  color: $color-text;
  background-color: $white;
}

a {
  text-decoration: none;
}

b {
  font-weight: $font-weight-bold;
}

img.img-responsive {
  max-width: 100%;
  margin: 0 auto;
}

.screen-reader-text { 
 clip: rect(1px, 1px, 1px, 1px); 
 height: 1px; 
 width: 1px; 
 overflow: hidden; 
 position: absolute !important;
}

section{
  h1 {
    font-size: 52px;
    color: $color-text-h1;
    font-weight: $font-weight-bold;
    line-height: 1em;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}



