@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
/* 
usage:

font-family: 'Poppins', Helvetica, Arial, sans-serif;

font-weight: 400; // regular
font-weight: 500; // medium
font-weight: 600; // semi-bold
font-weight: 700; // bold
 */