/* variables */

// breakpoints, declared here AND in grid.scss, since we run the sass compiler before we concat dg.scss & grid.scss'
//if you need to change them, change them in both places.

// breakpoint are 30px larger than the containers, to account for padding and stuff
$bp-s: 30em;
$bp-m: 48em;
$bp-l: 62em;
$bp-xl: 75em;


// colors
$yellow: rgb(248, 214, 101); // #F8D665
$yellow-light: rgb(255, 245, 171); // #fff5ab
$cream: rgb(255, 250, 200); // #fffac8
$orange: rgb(248, 148, 30); // #F8941E, "Sunset"
$white: rgb(255, 255, 255); // #FFFFFF
$grey: #cfd1d2;

$color-text: #231f20;
$color-text-light: #919396;

// not used in site, but pulled from styleguide anyway
$offwhite: rgb(245, 243, 218); // #F5F3DA
$orange-light: rbg(255, 190, 48); // "Marigold"
$blue-dark: rgb(11, 117, 140); // #0B758C, "Summer Pool"
$blue-light: rgb(85, 179, 194); // #55B3C2, "Peacock"
$red: rgb(217, 71, 35); //#D94723

// font-sizes
// since there are so many font sizes set and many of them are only used in 1 location, I'm not using 
// most of these in the scss proper. Think of these as a reference instead
$font-size-enormous: 52px;
$font-size-huge: 40px;
$font-size-3xl: 32px;
$font-size-2xl: 24px;
$font-size-xl-plus : 21px;
$font-size-xl : 20px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-2xs: 12px;


// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// line heights
$line-height-low:0.9em;
$line-height-1: 1.0em;
$line-height-high:1.2em;
