.highlights {
  border-top: 5px solid $yellow;

  @media (min-width: $bp-l) { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 40vw;
    max-height: 550px;
  }

  .highlights__left,
  .highlights__right {
    width: 100%;

    @media (min-width: $bp-l) {
      width: 50%;
    }
  }

  .highlights__block {
    background: $yellow;
    border-bottom: 5px solid $white;

    @media (min-width: $bp-s){
      border: 5px solid $white;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $black;

      &:hover {
        svg path,
        svg polygon {
          opacity: 1;
          fill: $blue-dark;
        }
      }
    }

    .highlights__block__image {
      height: 60%;

      @media (min-width: $bp-xl) {
        height: 70%;
      }
    }

    svg {
      margin-right: 20px;

      path,
      polygon {
        opacity: 0.8;
        transition: all 0.125s ease
      }
    }
    .highlights__block__info {
      height: 40%;
      padding: 0 20px;
      display: flex;
      align-items: center;

      @media (min-width: $bp-xl) {
        height: 30%;
      }

      .highlights__block__info__icon {
        width: 50px;
        margin-right: 20px;
      }

      .highlights__block__info__summary__title {
        font-size: 18px;
        font-weight: $font-weight-semibold;
      }
      .highlights__block__info__summary__summary {
        font-size: 13px;
        font-weight: $font-weight-medium;
      }
    }

    &.highlight-block-1 {
      border-top: 0 none;
      border-right: 0 none;
      // border-bottom: 0 none;
      border-left: 0 none;

      @media (min-width: $bp-l) {

        .highlights__block__image {
          height: 80%;
        }        

        .highlights__block__info {
          height: 20%;

          .highlights__block__info__summary__title {
            font-size: 24px;
          }
          .highlights__block__info__summary__summary {
            font-size: 16px;
          }
        }
      }

      @media (min-width: $bp-l) {
        border-bottom: 0 none;
        border-right: 5px solid $white;
      }
    }

    &.highlight-block-2 {
      border-top: 0 none;
      border-right: 0 none;
      // border-bottom
      border-left: 0 none; 

      .highlights__block__image {

        // @media (min-width: $bp-m){
        //   height: 80%;
        // }

        @media (min-width: $bp-m) {
          height: 60%;
        }
      } 

    
      .highlights__block__info {
        @media (min-width: $bp-s){
          height: 40%;

          .highlights__block__info__summary__title {
            font-size: 21px;
          }
          .highlights__block__info__summary__summary {
            font-size: 14px;
          }
        }
        @media (min-width: $bp-m) {
          height: 40%;
        }
      }     
    }

    &.highlight-block-3 {
      border-top: 0 none;
      // border-right
      // border-bottom: 0 none;
      border-left: 0 none;

      @media (min-width: $bp-m) { 
        border-bottom: 0 none;
      }
    }

    &.highlight-block-4 {
      border-top: 0 none;
      border-right: 0 none;
      // border-bottom: 0 none;
      border-left: 0 none;

      @media (min-width: $bp-m) { 
        border-bottom: 0 none;
      }
    }
  }

  .highlights__left {
    .highlights__block {
      width: 100%;
      height: 300px;
      @media (min-width: $bp-l) {
        height: 100%;        
      }
    }
  }

  .highlights__right {
    display: flex;
    flex-wrap: wrap;
    .highlight-block-2 {
      width: 100%;
      height: 300px;
      @media (min-width: $bp-l) {
        height: 50%;        
      }
    }

    .highlight-block-3,
    .highlight-block-4 {
      height: 300px;

      @media (min-width: $bp-s) {
        width: 50%;
      }
      
      @media (min-width: $bp-l) {
        height: 50%;        
      }
    }
  }
}
